<h1>Listing Appointments</h1>

<p>Here's the current, logged in, sitter:</p>

<% if @current_sitter %>
  <%= @current_sitter.name %>
  <%= @current_sitter.id %>
<% end %>

<%= react_component 'Main', {currentSitter: @current_sitter}  %>
