<h5> Privacy Policy</h5>
<p>
This site is a student project, designed for personal use by its creator, Guinevere Saenger.
This application will store a user's name upon login, and their phone number and email by personal request.
I will not share your information with anyone for any reason.
</p>
<%= link_to "Back", root_path %>
