<h5>Terms of Service</h5>
<p>
This site is a student project, designed for personal use by me, Guinevere Saenger.
Its main purpose is to create appointments and send corresponding SMS messages to user's phones.
If your phone number is in this database, it means you at one point gave me verbal permission to manually enter your phone number into my database. If you wish to be removed from the database, please contact me at guineveresaenger(at)yahoo(dot)com.
For further information on the code, see the GitHub repository on<a href="https://github.com/guineveresaenger/sit-in-peace">Github</a>.
</p>
<%= link_to "Back", root_path %>
